* {
    transition: all 1s;
}

body {
    height: 100vh;
    display: flex;
}

pre {
    /* overflow-x: hidden;
    overflow-y: scroll; */
    overflow: hidden;
    margin-bottom: 0;
}

.hidden {
    display: none;
}

.code {
    width: 100%;
    color: rgb(187, 187, 187);
    background: rgb(40, 44, 52);
    font-family: Menlo, Monaco, Consolas, "Andale Mono", "lucida console", "Courier New", monospace;
    margin-right: 20px;
}

.code .token {
    color: rgb(187, 187, 187);
}

@keyframes breath {
    from {
        box-shadow: 0 0 20px rgba(187, 187, 187, 0);
    }
    to {
        box-shadow: 0 0 20px rgba(187, 187, 187, 0.4);
    }
}

.resume {
    width: 50%;
    padding: 20px;
    background: #fff;
    /* overflow-x: hidden;
    overflow-y: scroll; */
    overflow: hidden;
}