* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 1s;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    height: 100vh;
    display: flex;
}

pre {
    overflow-x: hidden;
    overflow-y: scroll;
}

.code {
    width: 100%;
    color: rgb(187, 187, 187);
    background: rgb(40, 44, 52);
    font-family: Menlo, Monaco, Consolas, "Andale Mono", "lucida console", "Courier New", monospace;
    margin-right: 10px;
}

.code .token {
    color: rgb(187, 187, 187);
}

@keyframes breath {
    from {
        box-shadow: 0 0 20px rgba(187, 187, 187, 0);
    }
    to {
        box-shadow: 0 0 20px rgba(187, 187, 187, 0.4);
    }
}

.paper {
    margin-left: 10px;
}